/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.font-fmly-airl{
    font-family: arial, sans-serif;
}
.text-center{
    text-align: center
}
.add-mob{
    background: gainsboro;
    padding: 14px;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #275165;
}

.pad-7{
    padding: 7px;
}
.font-size{
    font-size: 21px;
}
.mar-rgt{
    margin-right: 68px;
}
.pad-left-right{
    padding-left: 120px;
    padding-right: 120px;
}
.delete{
    padding: 3px;
    background: #F44336;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.update{
    padding: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: #87e28a;
}