
.form-ele{
    width: 21%;
    padding: 10px;
}
.btn-hvr:hover{
    background: green;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  